div div {
	border-radius: 5px;
}

#header{
	text-align: center;
	float: center;
	background-color: #C2FFE0;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.left{
	background-color: #FFFFB8;
	float: left;
	width: 30%;
	height: 100%;
	position: relative;
}

.center{
	background-color: #F1F1F1;
	float: center;
	height: 100%;
	width: 40%;
	display: inline-block;
	position: relative;
}

.right{
	background-color: #99CCFF;
	float: right;
	height: 100%;
	
	width: 30%;
	display: inline-block;
	position: relative;
}